.card-set, .gallery-buttons, .footer-contacts, .footer-list, .clients-list, .social-icons, .team-list, .specialization-list, .qualities-list, .menu-socials, .menu-contacts, .menu-container__list, .header-contacts, .header-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-socials__item, .menu-container__link {
  text-decoration: none;
}

.gallery, .qualities, .page-hero, .header {
  margin-left: auto;
  margin-right: auto;
}

.footer-container, .clients-container, .team-container, .specialization-container, .container, .header-container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .footer-container, .clients-container, .team-container, .specialization-container, .container, .header-container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .footer-container, .clients-container, .team-container, .specialization-container, .container, .header-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer-container, .clients-container, .team-container, .specialization-container, .container, .header-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container, .clients-container, .team-container, .specialization-container, .container, .header-container {
    width: 1200px;
  }
}

.section-title--hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.gallery-card__title, .team-card__title, .qualities-item__title {
  color: #212121;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 30px;
}

.logo {
  color: #2196f3;
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo__header {
  color: #000000;
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav {
    margin-left: 92px;
  }
}
.header-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: #2196f3;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__current {
  position: relative;
  display: block;
  color: #2196f3;
}

.header-nav__current:after {
  position: absolute;
  bottom: -2px;
  display: block;
  content: " ";
  width: calc(100% + 6px);
  left: -3px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: block;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    margin-left: 315px;
  }
}
.header-contacts__link {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  color: #757575;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
  }
}
.header-contacts__icon {
  margin-right: 10px;
  display: block;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__icon--envelop {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon--envelop {
    width: 16px;
    height: 12px;
  }
}
.header-contacts__icon--smartphone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon--smartphone {
    height: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .header-contacts__item:first-child {
    margin-bottom: 10px;
  }
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: #2196f3;
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-toggle,
.menu-toggle--close {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: #2196f3;
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 888;
  transform: translateX(-100%);
  opacity: 0;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .menu-container {
    text-align: left;
  }
}
.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
}
.menu-container__item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .menu-container__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.menu-container__item:last-child {
  margin-bottom: 80px;
}
@media screen and (min-width: 480px) {
  .menu-container__item:last-child {
    margin-bottom: 302px;
  }
}
.menu-container__link {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .menu-container__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
  }
}
.menu-container__link--current {
  color: #2196f3;
}

.menu-contacts__tel {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .menu-contacts__tel {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.14;
  }
}
.menu-contacts__mail {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .menu-contacts__mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16;
  }
}
.menu-contacts__item:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .menu-contacts__item:first-child {
    margin-bottom: 32px;
  }
}
.menu-contacts__item:nth-child(2) {
  margin-bottom: 64px;
}

.menu-socials {
  display: flex;
  width: 357px;
  justify-content: space-between;
}
@media screen and (max-width: 479px) {
  .menu-socials {
    display: block;
    width: 100%;
    justify-content: center;
  }
}
.menu-socials__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
}
.menu-socials__item a {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .menu-socials__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (min-width: 480px) {
  .menu-socials__item:not(:first-child) {
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .menu-socials__item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
}

.menu-socials__item:not(:last-child) {
  width: 100px;
}
@media screen and (max-width: 479px) {
  .menu-socials__item:not(:last-child) {
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.button {
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  border-style: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 2.3;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1200px) {
  .button {
    transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  }
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

.page-hero {
  text-align: center;
  max-width: 100%;
  height: 400px;
  background-color: #2f303a;
  margin: 0 auto;
  padding: 118px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-mob-min-1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-mob-min-1x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-tab-min-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-tab-min-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .page-hero {
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-desk-min-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-desk-min-2x.jpg);
  }
}
@media screen and (max-width: 479px) {
  .page-hero {
    padding: 48px 0;
  }
}

.page-hero__title {
  max-width: 360px;
  margin: 0px auto 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 479px) {
  .page-hero__title {
    max-width: 220px;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.61;
    margin: 0px auto 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
@media screen and (max-width: 479px) {
  .modal {
    width: 290px;
    height: 538px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 30px;
  height: 30px;
  margin: 8px 8px auto auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-modal__icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal:hover .close-modal__icon, .close-modal:focus .close-modal__icon {
  fill: #2196f3;
}

.data-form {
  text-align: center;
  position: relative;
  padding: 40px;
}
@media screen and (max-width: 479px) {
  .data-form {
    padding: 40px 20px;
  }
}
.data-form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .data-form__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
  }
}
@media screen and (max-width: 479px) {
  .data-form__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.15;
  }
}
.data-form__field {
  display: block;
  position: relative;
}
.data-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 11px 11px 42px;
  transition: border-color 250ms var(--timing-function);
  margin-bottom: 10px;
}
@media screen and (max-width: 479px) {
  .data-form__input {
    height: 32px;
  }
}
.data-form__label {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin: 0 0 4px 0;
  display: block;
}
@media screen and (max-width: 479px) {
  .data-form__label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
  }
}
.data-form__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill 250ms var(--timing-function);
}
@media screen and (max-width: 479px) {
  .data-form__icon {
    top: 25px;
  }
}
.data-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms var(--timing-function);
}
@media screen and (max-width: 479px) {
  .data-form__textarea {
    height: 80px;
  }
}

.data-form__input:hover {
  border-color: #2196f3;
}

.data-form__input:hover + .data-form__icon,
.data-form__input:focus + .data-form__icon {
  fill: #2196f3;
}

.data-form__textarea:hover {
  border: 1px solid #2196f3;
}

.data-form__input:focus,
.data-form__textarea:focus {
  outline: 1px solid #2196f3;
}

.data-form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.data-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.data-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-agreement {
  text-align: left;
  margin-left: 34px;
}
@media screen and (max-width: 479px) {
  .checkbox-agreement {
    margin-left: 40px;
  }
}
@media screen and (min-width: 768px) {
  .checkbox-agreement {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox-agreement {
    margin-left: 34px;
  }
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.agreement {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-top: 0;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .agreement {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
  }
}
.agreement__link {
  position: relative;
  color: #2196f3;
}

.agreement__link::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #2196f3;
}

.agreement__link:focus {
  outline: 1px solid #2196f3;
}

.agreement--off {
  position: absolute;
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-left: -22px;
  opacity: 1;
}

.agreement--on {
  position: absolute;
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-left: -22px;
  opacity: 0;
}

.checkbox__input:checked ~ .agreement--off {
  opacity: 0;
}

.checkbox__input:checked ~ .agreement--on {
  opacity: 1;
}

.checkbox__input:focus ~ .agreement--off > .checkbox-icon {
  outline: 2px solid #2196f3;
  border-radius: 2px;
}

.modal-send {
  display: block;
  text-align: center;
}
.modal-send__button {
  width: 200px;
}

.qualities {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .qualities {
    padding: 94px 0 47px;
  }
}

@media screen and (min-width: 768px) {
  .qualities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.qualities-item {
  display: flex;
  flex-direction: column;
}
.qualities-item:not(:last-child) {
  align-content: start;
}
@media screen and (max-width: 767px) {
  .qualities-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .qualities-item {
    width: calc((100% - 30px) / 2);
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .qualities-item {
    width: calc((100% - 90px) / 4);
  }
}
.qualities-item__pict {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.qualities-item__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .qualities-item__title {
    text-align: left;
  }
}

.specialization {
  display: none;
  padding: 47px 0 94px;
}
@media screen and (min-width: 1200px) {
  .specialization {
    display: block;
  }
}
.specialization-list {
  display: flex;
  gap: 30px;
}
.specialization-list__item {
  width: calc((100% - 60px) / 3);
  position: relative;
  background-color: red;
}

.specialization-list__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
}

.team {
  background-color: #f5f4fa;
  padding: 60px 0 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0 94px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons__item {
  width: 44px;
  height: 44px;
}
.social-icons__item:not(:last-child) {
  margin-right: 10px;
}
.social-icons__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .team-card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-card {
    width: calc((100% - 90px) / 4);
  }
}
.team-card__caption {
  background-color: #ffffff;
  padding: 30px 0;
  border-radius: 4px;
}
.team-card__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 10px;
}
.team-card__position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 16px 0;
}

/* social icons */
.social-icons__link {
  fill: #afb1b8;
}

.social-icons__link:hover,
.social-icons__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0 94px;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients-list__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 94px 0;
  }
}
.footer-list {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list {
    text-align: left;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .footer-list__item:last-child {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .footer-list__item:not(:last-child) {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .footer-list__item:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list__item:not(:last-child) {
    margin-right: 93px;
  }
}

.logo__footer--white {
  color: #ffffff;
}

.footer-contacts {
  margin-top: 20px;
}
.footer-contacts__postaddress {
  display: block;
  color: #ffffff;
  font-style: normal;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__mail, .footer-contacts__tel {
  display: block;
  color: #ffffff;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer-contacts__mail, .footer-contacts__tel {
    margin-bottom: 9px;
  }
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts__postaddress:hover,
.footer-contacts__postaddress:focus {
  color: #2196f3;
}

.footer-contacts__mail:hover,
.footer-contacts__mail:focus {
  color: #2196f3;
}

.footer-contacts__tel:hover,
.footer-contacts__tel:focus {
  color: #2196f3;
}

.footer-title {
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.social-icons__link--grey {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icons__link:hover,
.social-icons__link:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .subscription-form {
    text-align: center;
  }
}
.subscription-form__field {
  position: relative;
}
@media screen and (max-width: 1199px) {
  .subscription-form__field {
    display: inline-block;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__field {
    margin-right: 12px;
  }
}
.subscription-form__input {
  width: 450px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
}
@media screen and (max-width: 480px) {
  .subscription-form__input {
    width: 290px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
    height: 50px;
  }
}
.subscription-form__label {
  position: absolute;
  top: 0;
  left: 0;
  left: 16px;
  top: 50%;
  color: rgba(255, 255, 255, 0.6);
  transform: translate(0, -50%);
}

.subscription-form__input:not(:-moz-placeholder-shown) + .subscription-form__label {
  opacity: 0;
}

.subscription-form__input:not(:-ms-input-placeholder) + .subscription-form__label {
  opacity: 0;
}

.subscription-form__input:not(:placeholder-shown) + .subscription-form__label,
.subscription-form__input:focus + .subscription-form__label {
  opacity: 0;
}

.subscription-form__button {
  display: flex;
  width: 200px;
  padding: 0 28px;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .subscription-form__button {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscription-button__icon {
  margin-left: 10px;
}

.gallery-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 25px;
  width: 334px;
}
@media screen and (min-width: 768px) {
  .gallery-buttons {
    margin-bottom: 0;
    margin-bottom: 30px;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-buttons {
    margin-bottom: 50px;
  }
}
.gallery-buttons__button {
  background-color: #f5f4fa;
  color: #212121;
  border-style: none;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: inline-block;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-buttons__item:not(:last-child) {
  margin-right: 8px;
}
.gallery-buttons__button:hover, .gallery-buttons__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.gallery {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding: 94px;
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-card {
  flex-basis: calc((100% - 60px) / 3);
}
.gallery-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-card__thumb {
  position: relative;
  overflow: hidden;
}
.gallery-card__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 77px 24px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
  opacity: 90%;
  background-color: #2196f3;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .gallery-card__hover {
    font-size: 14px;
    line-height: 1.5;
    padding: 33px 24px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-card__hover {
    padding: 63px 24px;
  }
}
.gallery-card__caption {
  border: 1px solid #eeeeee;
  border-top: 1px solid transparent;
  padding: 20px 24px;
  flex-grow: 1;
}
.gallery-card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 0px 0px 4px;
}
.gallery-card__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin: 0px;
}

.gallery-card__link:hover .gallery-card__hover {
  transform: translate(0);
}

.gallery-card__link:hover,
.gallery-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */