// header-nav

.header-nav {
  @extend %list;
  @include CentredFlex(flex);

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 92px;
  }

  &__link {
    display: flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    color: $titleColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    transition: color 250ms $timingFunction;
  }

  &__link:hover,
  &__link:focus {
    color: $accentColor;
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__current {
  position: relative;
  display: block;
  color: $accentColor;
}

.header-nav__current:after {
  position: absolute;
  bottom: -2px;
  display: block;
  content: " ";
  width: calc(100% + 6px);
  left: -3px;
  height: 4px;
  background-color: $accentColor;
  border-radius: 2px;
}

//   header-contacts

.header-contacts {
  @extend %list;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 315px;
  }

  &__link {
    display: flex;
    align-items: center;
    @include font(12px, 500, 1.2);

    color: $primaryTextColor;
    letter-spacing: 0.02em;

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
      @include font(12px, 500, 1.2);
    }

    transition: color 250ms $timingFunction;
  }

  &__icon {
    margin-right: 10px;
    display: block;
    fill: $primaryTextColor;

    transition: fill 250ms $timingFunction;
  }
}

.header-contacts__item:first-child {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: $accentColor;
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: $accentColor;
}

.header-contacts__item:not(:last-child) {
  @media screen and (min-width: 1200px)   {
    margin-right: 50px;
  }
  
}
