.header {
  @extend %section;

  border-bottom: 1px solid red;

  @media screen and (max-width: 767px) {
    height: 60px;
  }

  &-container {
    @extend %container;
    @include CentredFlex(flex);
    justify-content: space-between;
    align-items: center;
  }
}
