.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-toggle,
.menu-toggle--close {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;

  padding: 10px 0;
}

@include tablet {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: $accentColor;
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $primaryWhiteColor;
  z-index: 888;

  transform: translateX(-100%);
  opacity: 0;

  text-align: center;

  @include mobile {
    text-align: left;
  }

  &.is-open {
    transform: translateX(0);
    opacity: 1;
  }

  &__list {
    @extend %list;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 32px;
    }
  }

  &__item:last-child {
    margin-bottom: 80px;

    @include mobile {
      margin-bottom: 302px;
    }
  }

  &__link {
    @extend %link;
    @include font(28px, 500, 1.14);
    letter-spacing: 0.02em;
    color: $titleColor;

    @include mobile {
      @include font(40px, 500, 1.17);
    }

    &--current {
      color: $accentColor;
    }
  }
}

.menu-contacts {
  @extend %list;

  &__tel {
    @include font(24px, 500, 1.14);
    
    letter-spacing: 0.02em;
    color: $accentColor;

    @include mobile {
      @include font(34px, 500, 1.14);
    }
  }

  &__mail {
    @include font(20px, 500, 1.14);
    
    letter-spacing: 0.02em;
    color: $primaryTextColor;

    @include mobile {
      @include font(24px, 500, 1.16);
     
    }
  }

  &__item:first-child {
    margin-bottom: 10px;

    @include mobile {
      margin-bottom: 32px;
    }
  }

  &__item:nth-child(2) {
    margin-bottom: 64px;
  }
}

.menu-socials {
  @extend %list;
  display: flex;
  width: 357px;
  justify-content: space-between;

  @media screen and (max-width: 479px) {
    display: block;
    width: 100%;
    justify-content: center;
  }

  &__item {
    @include font(18px, 500, 1.7);
    @extend %link;
  }

  &__item a {
    color: $accentColor;
  }
}

.menu-socials__item:not(:last-child) {
  @include mobile {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu-socials__item:not(:first-child) {
  @include mobile {
    padding-left: 10px;
  }
}

.menu-socials__item {
  @media screen and (max-width: 479px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
}

.menu-socials__item:not(:last-child) {
  width: 100px;
  @media screen and (max-width: 479px) {
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  }
}

