.gallery {
  @extend %section;
  padding: 60px 0;

  @include desktop {
    padding: 94px;
  }
}

.container {
@extend %container;
}

.card-set {
    @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}
