.footer {
  padding: 60px 0;
  @media screen and (min-width: 1200px){
    padding: 94px 0;
  }

  background-color: $heroBackgroundColor;

  &-container {
    @extend %container;
  }
}

.footer-list {
  @extend %list;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px){
    text-align: left;
    align-items: baseline;
  }

  &__item:last-child {
    @media screen and (min-width: 768px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  &__item:not(:last-child) {
    @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    }
    @media screen and (min-width:1200px) {
      margin-right: 93px;
    }
  }
}

