.footer {
  padding: 60px 0;
  @media screen and (min-width: 1200px){
    padding: 95px 0;
  }

  background-color: $heroBackgroundColor;

  &-container {
    @extend %container;
  }
}

.footer-list {
  @extend %list;
  text-align: center;
  
  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px){
    text-align: left;
    align-items: baseline;
  }
}

.footer-list__item:last-child {
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-list__item:first-child {
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
}


