.footer {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }

  background-color: $heroBackgroundColor;

  &-container {
    @extend %container;
  }
}

.footer-list {
  @extend %list;
  text-align: center;

  @include tablet {
    display: inline-flex;
    flex-wrap: wrap;

    justify-content: space-around;
  }

  @include desktop {
    text-align: left;
    align-items: baseline;
  }

  &__item:last-child {
    @include tablet {
      margin: 0 auto;
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      width: 100%;
    }

    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
      
    }

    @include desktop {
      margin-right: 93px;
    }
  }
}

