.page-hero {
  @extend %section;
  text-align: center;

  max-width: 100%;
  height: 400px;

  background-color: $heroBackgroundColor;
  // max-width: 1600px;
  // height: 600px;

  margin: 0 auto;
  padding: 118px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpeg);
}

.page-hero__title {
  max-width: 360px;
  margin: 0px auto 30px;

  @include font (26px, 900, 1.61);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: $primaryWhiteColor;
  

  
  // font-size: 44px;
  // font-weight: 900;
  // line-height: 1.4;
  // letter-spacing: 0.06em;
  // text-transform: uppercase;
  // text-align: center;
  // align-items: center;


  // max-width: 696px;
  // margin: 0px auto 30px;

  // color: $primaryWhiteColor;
  // font-size: 44px;
  // font-weight: 900;
  // line-height: 1.4;
  // letter-spacing: 0.06em;
  // text-transform: uppercase;
  // text-align: center;
  // align-items: center;
}

