.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms $timingFunction;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;
  height: 609px;

  @media screen and (max-width: 479px) {
    width: 290px;
    height: 538px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  border-radius: 4px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    z-index: 999;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 30px;
  height: 30px;
  margin: 8px 8px auto auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  &__icon {
    fill: #000000;
    transition: fill 250ms $timingFunction;
  }

  &:hover &__icon,
  &:focus &__icon {
    fill: $accentColor;
  }
}

.data-form {
  text-align: center;
  position: relative;
  padding: 40px;
  @media screen and (max-width:479px){
    padding: 40px 20px;
  }

  &__title {
    @include font(20px, 700, 1.4);

    @media screen and (min-width: 1200px) {
      @include font(20px, 700, 1.15);
    }

    @media screen and (max-width: 479px){
      @include font(14px, 700, 1.15);
    }

    letter-spacing: 0.03em;
    color: $titleColor;
    margin-top: 0;
    margin-bottom: 12px;

    text-align: center;
  }

  &__field {
    display: block;
    position: relative;
  }

  &__input {
    width: 100%;
    height: 40px;
    @media screen and (max-width:479px){
      height: 32px;
    }

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 11px 11px 42px;
    transition: border-color 250ms var(--timing-function);
    margin-bottom: 10px;
  }

  &__label {
    text-align: left;

    @include font (12px, 400, 1.16);

    @media screen and (max-width:479px){
      @include font (12px, 400, 1.1);
    }
  
    letter-spacing: 0.01em;
    margin: 0 0 4px 0;
    display: block;
  }

  &__icon {
    position: absolute;
    top: 29px;
    @media screen and (max-width:479px){
      top:25px;
    }
    left: 12px;
    transition: fill 250ms var(--timing-function);
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 120px;
    @media screen and (max-width:479px){
      height: 80px;
    }
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgb(117, 117, 117);

    padding: 12px 16px;
    margin-bottom: 20px;

    transition: border-color 250ms var(--timing-function);
  }
}

.data-form__input:hover {
  border-color: $accentColor;
}

.data-form__input:hover + .data-form__icon,
.data-form__input:focus + .data-form__icon {
  fill: $accentColor;
}

.data-form__textarea:hover {
  border: 1px solid $accentColor;
}

.data-form__input:focus,
.data-form__textarea:focus {
  outline: 1px solid $accentColor;
}

.data-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-wrapper {
}

.checkbox-agreement {
  text-align: left;
  margin-left: 34px;

  @media screen and (max-width: 479px){
    margin-left: 40px;
  }

  @media screen and (min-width: 768px){
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px){
    margin-left: 34px;
  }
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 30px;

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.agreement {

  @include font(12px, 400, 1.17);
  @media screen and (min-width: 1200px) {
    @include font(14px, 400, 1.7);
  }
  letter-spacing: 0.03em;
  margin-top: 0;

  color: $primaryTextColor;

  &__link {
    position: relative;
    color: $accentColor;
  }
}

.agreement__link::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: $accentColor;
}

.agreement__link:focus {
  outline: 1px solid $accentColor;
}

.agreement--off {
  position: absolute;

  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-left: -22px;

  opacity: 1;
}

.agreement--on {
  position: absolute;

  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-left: -22px;
  opacity: 0;
}

.checkbox__input:checked ~ .agreement--off {
  opacity: 0;
}

.checkbox__input:checked ~ .agreement--on {
  opacity: 1;
}

.checkbox__input:focus ~ .agreement--off > .checkbox-icon {
  outline: 2px solid $accentColor;
  border-radius: 2px;
}

.modal-send {
  display: block;
  text-align: center;

  &__button {
    width: 200px;
  }
}

